<h3> New Project</h3>
<br>
<h4> Project Name:  <input type="text"><br></h4>
<br>
<h3>Tasks</h3>

<div class="position-absolute top-20 start-0">
<button type="button" class="btn btn-outline-primary">
<a href="http://127.0.0.1:3000/tasks">Add New Task</a>
</button>
</div>

<br>
<br>
<table>
  <tbody>
    
  <label>Task Name: 
  <input type="text"> <th colspan="3"></th>
  <input type="submit" value="Remove Task">
</label>
<br>
<br>
<tr><label>Task Name: 
  <input type="text">
   <th colspan="3"></th><input type="submit" value="Remove Task">
   </label>
 </tr>
   <br>
   <br>
   <label>Task Name: 
  <input type="text"> <th colspan="3"></th>
  <input type="submit" value="Remove Task">
  </label>
</tr>
  
  </tbody>
  </table>
<br>
<button type="button" class="btn btn-outline-primary">
<a href="http://127.0.0.1:3000/posts">Create Project</a>
</button>

<p>
<br>

<nav aria-label="Page navigation example">
  <ul class="pagination">
    
    <li class="page-item"><a class="page-link" href="http://127.0.0.1:3000/">Previous</a></li>
    <li class="page-item"><a class="page-link" href="http://127.0.0.1:3000/tasks">2</a></li>
    <li class="page-item"><a class="page-link" href="http://127.0.0.1:3000/posts">Next</a></li>
    
  </ul>
</nav>
</p>





