<p class="text-center">
<div class="position-absolute top-20 end-0">
<button type="button" class="btn btn-outline-primary">
<a href="http://127.0.0.1:3000/tasks">New Project</a>
</button>
</div>
</p>


<h3>  Listing Projects  </h3>
<table class="table">
  <thead>
  	<nav class="navbar navbar-light bg-light">

    <tr>
      <th scope="col">Project Name</th>
      <th scope="col">No.of Tasks</th>
      <th scope="col">Actions</th>
     </tr>
</nav>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Project  1</th>
      <td>3</td>
      <td><a href="#">Show</a></td><td><a href="#">Edit</a></td><td><a href="#">Destroy</a></td>
    </tr>
    <tr>
      <th scope="row">Project 2</th>
      <td>5</td>
     <td><a href="#">Show</a></td><td><a href="#">Edit</a></td><td><a href="#">Destroy</a></td>
      
    </tr>
     </tbody>
</table>

<br>
<nav aria-label="Page navigation example">
  <ul class="pagination">
    
    <li class="page-item"><a class="page-link" href="http://127.0.0.1:3000/">Previous</a></li>
    <li class="page-item"><a class="page-link" href="http://127.0.0.1:3000/tasks">2</a></li>
    <li class="page-item"><a class="page-link" href="http://127.0.0.1:3000/posts">Next</a></li>
    
  </ul>
</nav>

<br><br><br><br><br><br>



