
<header>

<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
	  <div class="position-relative top-50 start-50 translate-middle">

<center><h2> A Web Page</h2></center>
</div>
</nav>
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
<h2>



<img src="/assets/arrows.png" alt="Logo" style="width:60px;">


<img src="/assets/crossmark.jpg" alt="Logo" style="width:20px;">


	
<img src="/assets/home.png" alt="Logo" style="width:20px;">

<label>
  <input type="text" value="https://"> 
</label>

<!-- <div class="position-absolute top-50 start-50 translate-middle"> -->
 <!-- <img src="/assets/urlbar.png" alt="Logo" style="width: 1000px;"></div>   -->

<!-- <img src="/assets/urlbar.png" alt="Logo" style="width:150px;"> -->


<div class="position-absolute top-0 end-0">
<img src="/assets/searchbar1.png" alt="Logo" style="width:200px;">
</div>

</h2>
</header>
</nav>





<!-- 
<div class="position-absolute top-50 start-0">
<img src="/assets/arrows.png" alt="Logo" style="width:40px;">
</div>
<div class="position-absolute top-50 start-0">
<img src="/assets/crossmark.jpg" alt="Logo" style="width:20px;">
</div>

<div class="position-absolute top-50 start-0">
	
<img src="/assets/home.png" alt="Logo" style="width:20px;">

</div>

<div class="position-absolute top-50 start-50 translate-middle">
<img src="/assets/urlbar.png" alt="Logo" style="width:150px;"></div>

<div class="position-absolute top-50 end-0">
<img src="/assets/searchbar1.png" alt="Logo" style="width:200px;">
</div>

</h2>
</header>
</nav> -->